<!-- This file helps VS Code understand Django template syntax -->
<!-- Django Template Language (DTL) tags and filters used in this project:

Common template tags:
{% load static %} - Loads static files
{% extends 'base.html' %} - Template inheritance
{% block title %}...{% endblock %} - Template blocks
{% if user.is_authenticated %}...{% endif %} - Conditional statements
{% for item in items %}...{% endfor %} - Loops
{% url 'view_name' %} - URL generation
{% csrf_token %} - CSRF protection

Common template filters:
{{ variable|filter }} - Apply filters to variables
{{ text|truncatechars:50 }} - Truncate text
{{ date|date:"M j" }} - Format dates
{{ user.username|first|upper }} - Chain filters

Static files:
{% static 'path/to/file.css' %} - Load static files

Template variables:
{{ variable }} - Output variables
{{ object.property }} - Access object properties

-->
