{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="display-4 text-primary">Welcome to Gauhati University Blog</h1>
            <p class="lead">Join us and share your thoughts with the community!</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center">Sign Up</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form|crispy }}
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
